<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="../Js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../Styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://kit.fontawesome.com/dc6e964f00.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div id="image">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top ">

            <a class="navbar-brand" id="brand" href="#"><span><i class="fas fa-user"></i></span>
                Anina Mahat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto" id="navitem">
                    <li class="nav-item">
                        <a class="nav-link" href="#home-section">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills-section">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#works">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>

                </ul>
        </nav>
        <!-- home page start -->
        <div id="home-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2 id="intro">Hello</h2>
                        <h2>I am Anina Mahat and I am a </h2>
                        <p class="animationclass"><span class="text-slider-items">UX/UI Designer,Full-Stack Developer</span><strong class="text-slider"></strong></p>
                        <p>Currently, I am doing my Bachelor's Degree in Computer Science at the
                            Zealand Institute of
                            Business and Technology. Learning new Skills and Technologies has always been my great
                            passion.
                            Coming from a science background though it was challenging to adapt to the IT sector, strong
                            dedication and hard work has helped me to prove myself as a capable girl in Web-Development.
                            <br><br><strong>Interested in doing a project together? </strong>
                        </p><br>
                        <a class="hireme" href="mailto:aninamahat93@gmail.com">HIRE ME</a>
                    </div>
                    <div class="col-md-4">
                        <img class="homepage-image" src="../images/simple.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->

    <!-- skills section -->
    <div id="skills-section">
        <section class="intro text-center">
            <div class="is-dark-background">
                <div class="container">
                    <p class="subtitle">I am a Web developer able to build a Web presence from the ground up - from
                        concept, navigation, layout, and programming to UX. Skilled at writing well-designed, testable
                        and efficient code using current best practices in Web development. Fast learner, hard worker
                        and team player who is proficient in an array of scripting languages and multimedia Web tools.
                    </p>
                </div>
            </div>
        </section>
        <!-- <div class="container"> -->
        <section class="skills text-center">
            <div class="card">
                <div class="row">
                    <div class="col-sm-4 skills-col">
                        <figure><i class="fa fa-edit" id="skills-icon"></i></figure>
                        <h1 class="title">UI/UX Designer</h1>
                        <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
                        <p class="list-title">Things I enjoy designing:</p>
                        <p>UX, UI, Web, Mobile, Apps, Logos</p>
                        <p class="list-title">Design Tools:</p>
                        <ul>
                            <li>Figma</li>
                            <li>Invision</li>
                            <li>Sketch</li>
                            <li>Webflow</li>
                            <li>Marvel</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 skills-col">
                        <figure><i class="fa fa-book-open" id="skills-icon"></i></figure>
                        <h1 class="title">Frontend Developer</h1>
                        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                        </p>
                        <p class="list-title">Languages I speak:</p>
                        <p>HTML, CSS, JavaScript, React, Angular</p>
                        <p class="list-title">Dev Tools:</p>
                        <ul>
                            <li>Android Studio</li>
                            <li>Bootstrap</li>
                            <li>Codepen</li>
                            <li>Github</li>
                            <li>Chrome DevTools</li>

                        </ul>
                    </div>
                    <div class="col-sm-4 skills-col " id="skill">
                        <figure><i class="fa fa-laptop-code" id="skills-icon"></i></figure>
                        <h1 class="title">Backend Developer</h1>
                        <p>I love giving structure to an idea, and add logic to make the web app.</p>
                        <p class="list-title">Languages I speak:</p>
                        <p>C#, ASP.NET, Node.js, Mysql </p>
                        <p class="list-title">Dev Tools:</p>
                        <ul>
                            <li>Visual Studio</li>
                            <li>VS Code</li>
                            <li>Mysql Workbench</li>
                            <li>Git</li>
                            <li>Terminal</li>
                            <li>ASP.NET </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- </div> -->
    </div>
    <!-- end -->

    <!-- project section -->
    <div id="works">
        <section class="projects text-center">
            <p class="title">My Recent Work</p>
            <p class="subtitle">Here are a few design projects I've worked on recently. Want to see more?<a
                    href="mailto:aninamahat93@gmail.com"> Email me</a></p>
            <div class="container projects-grid">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <button type="button" class="p-0 btn btn-link" data-toggle="modal"
                                data-target="#myModal"><img class="card-img-top" alt="Image for Durbar"
                                    src="../images/reactchatapp.JPG"></button>
                            <div class="card-body text-left">
                                <button type="button" class="p-0 btn" data-toggle="modal" data-target="#myModal">
                                    <p class="card-title">Sajha-Sanchar</p>
                                </button>
                                <p class="card-text m-0">Chat app built with react-redux as AP-Degree final
                                    project.</p>
                                <a class="icon-link" href="https://sajhasancharani.firebaseapp.com/"
                                    target="blank"><span><i class="fas fa-external-link-alt"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="col-sm-4">
                        <div class="card">
                            <button type="button" class="p-0 btn btn-link" data-toggle="modal"
                                data-target="#myModal1"><img class="card-img-top" alt="Image for Durbar"
                                    src="../images/durbar.JPG"></button>
                            <div class="card-body text-left">
                                <button type="button" class="p-0 btn" data-toggle="modal" data-target="#myModal1">
                                    <p class="card-title">Durbar</p>
                                </button>
                                <p class="card-text m-0">School management platform created as the part of school
                                    project.</p>
                                <a class="icon-link" href="https://durbar.herokuapp.com/" target="blank"><span><i
                                            class="fas fa-external-link-alt"></i></span></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <button type="button" class="p-0 btn btn-link" data-toggle="modal"
                                data-target="#myModal2"><img class="card-img-top" alt="Image for Durbar"
                                    src="../images/ktk.JPG"></button>
                            <div class="card-body text-left">
                                <button type="button" class="p-0 btn" data-toggle="modal" data-target="#myModal2">
                                    <p class="card-title">Ktk Siivous</p>
                                </button>
                                <p class="card-text m-0">Cleaning company websites created for a finland client
                                </p>
                                <a class="icon-link" href="http://www.ktksiivous.com/services/kotisiivous/"
                                    target="blank"><span><i class="fas fa-external-link-alt"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- contact section -->
    <div id="contact">
        <section class="contactinfo text-center">
            <div class="container extra-info">
                <div class="row">
                    <div class="col-md m-auto">
                        <h1 class="title">Start a project</h1>
                    </div>
                    <div class="col-md m-auto">
                        <h6>Interested in working together? We should queue up a chat. I'll buy a the coffee </h6>
                    </div>
                    <div class="col-md m-auto">
                        <a class="start" href="mailto:aninamahat93@gmail.com">Let's Start</a>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <footer class="footer text-center">
        <div class="container">
            <div class="col">
                <img class="rounded-circle" src="../images/myimage.jpg" width="200px">
            </div>
            <div class="col">
                <h5>Living, learning, & leveling up one day at a time.</h5>
            </div>
            <div class="col mysocial-links">
                <a href="https://github.com/anin0543"><span><i class="fab fa-github"></i></span></a>
                <a href="https://www.linkedin.com/in/anina-mahat-48814a161/"><span><i
                            class="fab fa-linkedin"></i></span></a>
                <a href="https://www.facebook.com/profile.php?id=100008435895727"> <span><i
                            class="fab fa-facebook-f"></i></span></a>
            </div>
            <div class="col mt-5">
                <button class="view-cv" data-toggle="modal" data-target="#myModal3">View My CV</a>
            </div>
        </div>
    </footer>
    <!-- end -->
    <!-- All Modal -->
    <div class="modal-section">
        <!-- modal for Sajha-Sanchar project -->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title h4">Sajha-Sanchar</div><button type="button" class="close"
                            data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body"><img src="../images/reactchatapp.JPG" alt="Image for Durbar"
                            class="sajha-image">
                        <h4>About the project</h4>
                        <p class="m-0">Chat app built with react-redux as AP-Degree final project.</p>
                        <p class="m-0">React, mysql, node.js, amazon aws s3, bootstrap</p>
                        <h4>Tools used</h4>
                        <ul>
                            <li><b>Visual Studio Code: </b>IDE used for the project</li>
                            <li><b>Heroku: </b>A cloud based hosting service for hosting our web application</li>
                            <li><b>Amazon AWS S3: </b>A cloud based storage service used for storing our images</li>
                            <li><b>Firebase: </b>A web-development platform used for user's authentication</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal for durbar project -->
        <div class="modal" id="myModal1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title h4">Durbar</div><button type="button" class="close"
                            data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body"><img src="../images/durbar.JPG" alt="Image for Durbar" class="sajha-image">
                        <h4>About the project</h4>
                        <p class="m-0">School management platform created as final year project</p>
                        <p class="m-0">React, mysql, node.js, amazon aws s3, bootstrap</p>
                        <h4>Tools used</h4>
                        <ul>
                            <li><b>Visual Studio Code: </b>IDE used for the project</li>
                            <li><b>Heroku: </b>A cloud based hosting service for hosting our web application</li>
                            <li><b>Amazon AWS S3: </b>A cloud based storage service used for storing our images</li>
                            <li><b>Firebase: </b>A web-development platform used for user's authentication</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal for ktk project -->
        <div class="modal" id="myModal2">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title h4">Ktk Siivous</div><button type="button" class="close"
                            data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body"><img src="../images/ktk.JPG" alt="Image for Durbar" class="sajha-image">
                        <h4>About the project</h4>
                        <p class="m-0">Cleaning company websites created for a finland client</p>
                        <p class="m-0">React, mysql, node.js, amazon aws s3, bootstrap</p>
                        <h4>Tools used</h4>
                        <ul>
                            <li><b>Visual Studio Code: </b>IDE used for the project</li>
                            <li><b>Heroku: </b>A cloud based hosting service for hosting our web application</li>
                            <li><b>Amazon AWS S3: </b>A cloud based storage service used for storing our images</li>
                            <li><b>Firebase: </b>A web-development platform used for user's authentication</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal for cv -->
        <div class="modal" id="myModal3">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title h4">CV</div>
                        <div>
                            <a href="../images/AninaResume2.pdf" download="AninaCV" class="download"><span><i
                                        data-toggle="tooltip" title="Download" class="fas fa-download"></i></span></a>
                            <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip"
                                title="Close"><span aria-hidden="true">×</span><span
                                    class="sr-only">Close</span></button>
                        </div>

                    </div>
                    <div class="modal-body"><img src="../images/cvfinalpic.JPG" alt="Image for cv" class="sajha-image">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>